<div id="content" class="site-content">
    <div class="woocommerce">
        <div class="woocommerce-order">




            <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received">
                Thank you. Your order has been received.</p>

            <ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details">

                <li class="woocommerce-order-overview__order order">
                    Order number: <strong>1200</strong>
                </li>

                <li class="woocommerce-order-overview__date date">
                    Date: <strong>May 5, 2026</strong>
                </li>


                <li class="woocommerce-order-overview__total total">
                    Total: <strong><span class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">$</span>84.98</bdi></span></strong>
                </li>

                <li class="woocommerce-order-overview__payment-method method">
                    Payment method: <strong>Cash on delivery</strong>
                </li>

            </ul>


            <p>Pay with cash upon delivery.</p>
            <section class="woocommerce-order-details">

                <h2 class="woocommerce-order-details__title">Order details</h2>

                <table class="woocommerce-table woocommerce-table--order-details shop_table order_details">

                    <thead>
                        <tr>
                            <th class="woocommerce-table__product-name product-name">Product</th>
                            <th class="woocommerce-table__product-table product-total">Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="woocommerce-table__line-item order_item">

                            <td class="woocommerce-table__product-name product-name">
                                <a
                                    href="http://localhost:89/product/premium-us-veterans-polo-shirt-attn200323-gifts-for-us-veterans-gifts-on-fathers-day-veterans-day/?attribute_pa_service=air-force2&amp;attribute_pa_size=2xl">Premium
                                    US Veterans Polo Shirt ATTN200323, Gifts For US Veterans, Gifts On Father's Day,
                                    Veterans Day. - Air Force2, 2XL</a> <strong
                                    class="product-quantity">×&nbsp;1</strong>
                            </td>

                            <td class="woocommerce-table__product-total product-total">
                                <span class="woocommerce-Price-amount amount"><bdi><span
                                            class="woocommerce-Price-currencySymbol">$</span>39.99</bdi></span>
                            </td>

                        </tr>

                        <tr class="woocommerce-table__line-item order_item">

                            <td class="woocommerce-table__product-name product-name">
                                <a
                                    href="http://localhost:89/product/premium-us-veterans-polo-shirt-attn200323-gifts-for-us-veterans-gifts-on-fathers-day-veterans-day/?attribute_pa_service=army&amp;attribute_pa_size=2xl">Premium
                                    US Veterans Polo Shirt ATTN200323, Gifts For US Veterans, Gifts On Father's Day,
                                    Veterans Day. - Army, 2XL</a> <strong class="product-quantity">×&nbsp;1</strong>
                            </td>

                            <td class="woocommerce-table__product-total product-total">
                                <span class="woocommerce-Price-amount amount"><bdi><span
                                            class="woocommerce-Price-currencySymbol">$</span>39.99</bdi></span>
                            </td>

                        </tr>

                    </tbody>

                    <tfoot>
                        <tr>
                            <th scope="row">Subtotal:</th>
                            <td><span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>79.98</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Shipping:</th>
                            <td><span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>5.00</span>&nbsp;<small
                                    class="shipped_via">via Flat rate</small></td>
                        </tr>
                        <tr>
                            <th scope="row">Total:</th>
                            <td><span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>84.98</span></td>
                        </tr>
                        <tr>
                            <th scope="row">Payment method:</th>
                            <td>Cash on delivery</td>
                        </tr>
                    </tfoot>
                </table>

            </section>

            <section class="woocommerce-customer-details">


                <section
                    class="woocommerce-columns woocommerce-columns--2 woocommerce-columns--addresses col2-set addresses">
                    <div class="woocommerce-column woocommerce-column--1 woocommerce-column--billing-address col-1">


                        <h2 class="woocommerce-column__title">Billing address</h2>

                        <address>
                            NGUYEN DAT<br>Nguyễn Đăng Đạt<br>Nguyễn Trãi, Hà Nội<br>Hà Nội, AK 15205
                            <p class="woocommerce-customer-details--phone">+84354169458</p>

                            <p class="woocommerce-customer-details--email">datnd997@gmail.com</p>

                        </address>


                    </div><!-- /.col-1 -->

                    <div class="woocommerce-column woocommerce-column--2 woocommerce-column--shipping-address col-2">
                        <h2 class="woocommerce-column__title">Shipping address</h2>
                        <address>
                            NGUYEN DAT<br>Nguyễn Đăng Đạt<br>Nguyễn Trãi, Hà Nội<br>Hà Nội, AK 15205
                            <p class="woocommerce-customer-details--phone">+84354169458</p>

                        </address>
                    </div><!-- /.col-2 -->

                </section><!-- /.col2-set -->



            </section>


        </div>
    </div>
</div>